# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/S-line/scripting/compiler/msvc6/Release/obj
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog
/S-line/scripting/compiler/msvc6/Release/obj/vc141.pdb
/S-line/scripting/compiler/msvc6/Release/obj/scvars.obj
/S-line/scripting/compiler/msvc6/Release/obj/sclist.obj
/S-line/scripting/compiler/msvc6/Release/obj/scexpand.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc7.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc6.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc5.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc4.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc3.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc2.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc1.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/sc.lastbuildstate
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/rc.write.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/rc.read.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/rc.command.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/link.write.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/link.read.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/link.command.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/CL.write.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/CL.read.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/CL.command.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.log
/S-line/scripting/compiler/msvc6/Release/obj/resource.res
/S-line/scripting/compiler/msvc6/Release/obj/vc141.pdb
/S-line/scripting/compiler/msvc6/Release/obj/scvars.obj
/S-line/scripting/compiler/msvc6/Release/obj/sclist.obj
/S-line/scripting/compiler/msvc6/Release/obj/scexpand.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc7.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc6.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc5.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc4.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc3.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc2.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc1.obj
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/sc.lastbuildstate
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/rc.write.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/rc.read.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/rc.command.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/link.write.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/link.read.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/link.command.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/CL.write.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/CL.read.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.tlog/CL.command.1.tlog
/S-line/scripting/compiler/msvc6/Release/obj/sc.log
/S-line/scripting/compiler/msvc6/Release/obj/resource.res
/sdal_beta
