# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
*.dep
*.dll
*.exp
*.ipch
*.lib
*.log
*.o
*.obj
*.pdb
*.sln
*.so
*.suo
*.opendb
*.db-wal
*.db-shm

S-line/dlls/amxdll/.vs
S-line/dlls/adminmod/.vs
S-line/dlls/adminmod/build
S-line/dlls/adminmod/amutil.cpp.PVS-Studio.cfg
S-line/dlls/adminmod/amutil.cpp.PVS-Studio.cmd
S-line/dlls/adminmod/amutil.PVS-Studio.i

*.tlog
/E-line
/admin_muck
/admin_v2
/halflifeadmin
/halflifeadmin_sdk2.0
/sdal_beta
S-line/scripting/compiler/msvc6/.vs
apg-load